<div class="new-form-page">
  <div class="container">
    <div style="margin-bottom: 25px;">
      <h4 class="dialog-title">New Form</h4>
    </div>

    <div class="row new-block">
      <div class="col-6 new-field">
        <label for="email">Email: </label>
        <input id="email" type="text" #nEmail>
      </div>
      <div class="col-6 new-field">
        <label for="fullname">Full Name: </label>
        <input id="fullname" type="text" #nName>
      </div>
      <div class="col-6 new-field">
        <label for="username">Username: </label>
        <input id="username" type="text" #nUsername>
      </div>
      <div class="col-6 new-field">
        <!-- <p>Value: {{chipsControlValue$ | async}}</p> -->
      </div>
      <div class="col-6 new-field">
        <label class="mb-2">Role: </label>

      </div>

    </div>

    <div style=" display: flex; justify-content: end;">
      <button mat-raised-button color="primary" (click)="newForm(nEmail.value, nName.value, nUsername.value)">
        Submit
      </button>
    </div>

  </div>
</div>