<div class="form-page pt-5">
  <div class="container">

    <div style="margin-bottom: 25px;">
      <h2 class="title">Forms</h2>

    </div>

    <div class=" mx-auto" style="max-width: 1200px;">
      <div style=" display: flex; justify-content: end;">
        <button mat-raised-button (click)="newForm()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <section class="search-block">

        <!-- <div class="search-field">
          <label for="search_user_id">UserId: </label>
          <input id="search_user_id" type="text" #sUserId>
        </div>

        <div class="search-field">
          <label for="search_email">Email: </label>
          <input id="search_email" type="text" #sEmail>
        </div> -->

        <div class="search-field">
          <label for="search_status">Status: </label>
          <select #sStatus id="search_status">
            <option value=""></option>
            <option *ngFor="let opt of statusOptions; let i = index" value="{{opt.value}}">{{opt.text}}</option>
          </select>
        </div>

        <div class="search-button">
          <button mat-raised-button (click)="search(sStatus.value)">
            <mat-icon fontIcon="search"></mat-icon>
          </button>
        </div>

        <!-- <div class="add-button-block" style=" display: flex; justify-content: end;">
            <button mat-raised-button (click)="openDialog()">
              <mat-icon fontIcon="add"></mat-icon>
            </button>
          </div> -->
      </section>

      <table mat-table [dataSource]="dataSource" mat-sort class="mat-elevation-z8">

        <!-- Position Column -->
        <!-- <ng-container matColumnDef="userid">
            <th   mat-header-cell *matHeaderCellDef> UserId </th>
            <td mat-cell  *matCellDef="let element"> {{element.id}} </td>
          </ng-container> -->

        <!-- UserName Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="created_by">
          <th mat-header-cell *matHeaderCellDef> Created By </th>
          <td mat-cell *matCellDef="let element"> {{element.created_by.email}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="responses">
          <th mat-header-cell *matHeaderCellDef> Responses </th>
          <td mat-cell *matCellDef="let element"> {{element.viewers.length}} </td>
        </ng-container>

        <!-- Active Column -->
        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef> Url </th>
          <td mat-cell *matCellDef="let element"> {{element.custom_url || "null"}} </td>
        </ng-container>

        <ng-container matColumnDef="end_date">
          <th mat-header-cell *matHeaderCellDef> End Date </th>
          <td mat-cell *matCellDef="let element"> {{element.end_date}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button title="Edit Form" (click)="editForm()">
              <img class="editBtn" src="assets/icons/table/edit.svg">
            </button>
            <button mat-icon-button title="View Form Responses" (click)="viewForm()">
              <img class="viewBtn" src="assets/icons/table/view.svg">
            </button>
            <button mat-icon-button title="View Form" (click)="openForm(element)">
              <img width="24px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA+UlEQVR4nO2Zyw3CMBAFc4MGItEIgu7gzq8MqIcDJYQyBgUpSCCcj712YnhTwL5M9kWWlaIQQoifA5gDJ+BOOirgWGdbitQSY3GwFGk2sTQb2p25ajZjOfSJ2cCxcpFIGGgjDlStQFC1HKhagaBqOVC1AkHVcqBqBYKq5fFmhl73rHK9+AuRNoASuGYtwrvESyZ2runAD4kbsMhOhC8Svg/FWCIuiaxEaJHIRoQOiSxE6CExeRF6SkxahAESUxPZ+EoE5mI5cNtyYpdmQbFFUm8iqkhqiVjVSlanBmAd40fP5ZtE/e0Qn531Rs6JJSpgD8zMRIQQopgKD+GDngSVoSCoAAAAAElFTkSuQmCC">
          </button>
          </td>
          <td></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator #paginator showFirstLastButtons [pageSizeOptions]="[ 10, 20, 100]" aria-label="Select page of forms"></mat-paginator>
    </div>
  </div>
</div>