<div class="user-page">
  <div class="container">

    <div style="margin-bottom: 25px;">
      <h2 class="title">Users</h2>

    </div>

    <div class=" mx-auto" style="max-width: 1200px;">
      <div style=" display: flex; justify-content: end;">
        <button mat-raised-button (click)="newUser()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <section class="search-block">

        <div class="search-field">
          <label for="search_user_id">UserId: </label>
          <input id="search_user_id" type="text" #sUserId>
        </div>

        <div class="search-field">
          <label for="search_email">Email: </label>
          <input id="search_email" type="text" #sEmail>
        </div>

        <div class="search-field">
          <label for="search_active">Active: </label>
          <select #sActive id="search_active">
            <option value=""></option>
            <option *ngFor="let opt of activeOptions; let i = index" value="{{opt.value}}">{{opt.text}}</option>
          </select>
        </div>

        <div class="search-button">
          <button mat-raised-button (click)="search(sUserId.value, sEmail.value, sActive.value)">
            <mat-icon fontIcon="search"></mat-icon>
          </button>
        </div>

        <!-- <div class="add-button-block" style=" display: flex; justify-content: end;">
          <button mat-raised-button (click)="openDialog()">
            <mat-icon fontIcon="add"></mat-icon>
          </button>
        </div> -->
      </section>

      <table mat-table [dataSource]="dataSource" mat-sort class="mat-elevation-z8">

        <!-- Position Column -->
        <!-- <ng-container matColumnDef="userid">
          <th   mat-header-cell *matHeaderCellDef> UserId </th>
          <td mat-cell  *matCellDef="let element"> {{element.id}} </td>
        </ng-container> -->

        <!-- UserName Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.full_name}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- username Column -->
        <!-- <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container> -->

        <!-- Active Column -->
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef> Active </th>
          <td mat-cell *matCellDef="let element"> {{element.active}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="viewUser()">
              <img class="editBtn" src="assets/icons/table/edit.svg">
            </button>

          </td>
          <td></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!-- <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>


          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>


          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
            <td mat-cell *matCellDef="let row"> {{row.age}} </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
            <td mat-cell *matCellDef="let row"> {{row.address}} </td>
          </ng-container>

          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
            <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row">
              <div style="display: flex;">
                <button mat-icon-button>
                  <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button>
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

            </td>
            <td></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
      </table> -->

      <mat-paginator #paginator showFirstLastButtons [pageSizeOptions]="[ 10, 20, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>