<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
    <div class="header">
      <h1 class="title">
        <img src=""/>
        Oracle Club
      </h1>
      
      <div class="toggle" >
        <button mat-icon-button (click)="handleSidebarToggle()">
        <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
    <div class="content">
      <div>
        <img src=""/>
      </div>
      <div class="link">
        <div class="content" routerLink="/home">
          <div class="title">User</div>
          <mat-icon>account_circle</mat-icon>
        </div>
      </div>
      <div class="link">
        <div class="content"  [routerLink]="['/dashboard']">
          <div class="title">Users</div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"  class="white-icon"></mat-icon>
        </div>
      </div>
      <div class="link">
        <div class="content"  [routerLink]="['/dashboard']">
          <div class="title">Calendar</div>
          <mat-icon>calendar_today</mat-icon>
          </div>
      </div>
      <div class="link">
        <div class="content"  [routerLink]="['/dashboard']">
          <div class="title">Slides</div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"  class="white-icon"></mat-icon>
        </div>
      </div>
      <div class="link">
        <div class="content"  [routerLink]="['/dashboard']">
          <div class="title">Message</div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"  class="white-icon"></mat-icon>
        </div>
      </div>
      <div class="link">
        <div class="content"  [routerLink]="['/dashboard']">
          <div class="title">Email</div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"  class="white-icon"></mat-icon>
        </div>
      </div>
      <div class="link">
        <div class="content"  [routerLink]="['/dashboard']">
          <div class="title">Gallery</div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"  class="white-icon"></mat-icon>
        </div>
      </div>
      <div class="link">
        <div class="content"  [routerLink]="['/dashboard']">
          <div class="title">OCI</div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"  class="white-icon"></mat-icon>
        </div>
      </div>
      <div class="link">
        <div class="content"  [routerLink]="['/dashboard']">
          <div class="title">Social Media</div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"  class="white-icon"></mat-icon>
        </div>
      </div>
      <div class="link">
        <div class="content"  [routerLink]="['/dashboard']">
          <div class="title">Log</div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"  class="white-icon"></mat-icon>
        </div>
      </div>
      <div class="link">
        <div class="content"  [routerLink]="['/home']">
          <div class="title">Logout</div>
          <mat-icon>exit_to_app</mat-icon>
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </div>