/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

@import 'assets/styles/listpage';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Lexend', sans-serif !important;
    background-color: #060C1A;
    // background-color: #8eb0ff;
    color: #ffffff;
}

.mat-dialog-container {
    background: #1C212D;
    color: #fff
}